@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700;900&family=Nunito+Sans:opsz@6..12&family=Poppins:ital,wght@0,400;0,600;1,900&family=Raleway:wght@700&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap');

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
li, a{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: lightcyan;
    text-decoration: none;
}

body{
 background-color: black;

}
body, h1, ul {
    margin: 0;
    padding: 0;
}
header{

    
    text-decoration: none;
    font-size: 20px;
    background-color:  #1b1b1b;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 30px 10%;
 

    
}
.logo{
    cursor: pointer;
    height: 100px;
    border-radius: 200px;
    
}


.nav-links li {
    font-size: 35px;
    margin-right: 50px;
    color: lightcyan;
    transition: opacity 0.3s ease;
    display: inline-block;
    padding: 0px 20px;
    justify-content: end;
    text-shadow:1px 2px  10px ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}



.nav-links a:hover{
   color: aqua;
}

h1{
    margin-left: 100px;
    color: whitesmoke;
    font-size: 5rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3{
    margin-left: 100px;
    font-size: 3rem;
    font-family: 'Times New Roman', Times, serif;
    color: lightcyan;

}
#devpic{
    height: 200px;
    border-radius: 90px;
}
#vidlogo{
    border-radius: 200px;
    float: right;
    margin-right: 200px;
    margin-top: 180px;
    height: 300px;
}

.icons{
    cursor: pointer;
    font-size: 100px;
    margin-right: 50px;
    color:pink;
    margin-left: 100px;
    justify-content: space-between;
}
.about{
    background-color: #EFE0BB;
    font-size: 2rem;
    border: black 2px solid;
    box-shadow:  5px 10px 400px lightcyan;
    
}

.info{
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.projects{
    color: black;
   
    padding: 20px;
}
.project-heading{
    margin-top: 0px;
    color: aliceblue;
    font-size: 2rem;
 
}
.project-category{
    display: flex;
    margin: 20px;
    margin-right:20px ;
}

.project-image{
    width: 500px;
}

.flexbox-projects{
background-color: aliceblue;
border: 2px solid;
margin-bottom: 20px;
}




